<mat-list role="list">
  <div class="side-nav-items d-flex-justify-content-between">
    <div>
    <mat-list-item role="home" routerLink="/home">Home<mat-icon style="margin-left: 14px;" matSuffix>home</mat-icon></mat-list-item>
    <mat-list-item role="Expense" routerLink ="/home/expense" >Expense<mat-icon> attach_money</mat-icon></mat-list-item>
    <mat-list-item role="Trips" routerLink ="/home/trips">Trips <mat-icon style="margin-left: 20px;"> flight</mat-icon></mat-list-item>
    <mat-list-item role="Reports" routerLink="/home/reports">Reports<mat-icon>receipt</mat-icon></mat-list-item>
    <mat-list-item role="settings"routerLink="/home/settings">Settings<mat-icon>settings</mat-icon></mat-list-item>

  </div>
  <div style>
    <mat-list-item *ngIf=" adminCheck() == 'ADMIN' "  role="Manager" routerLink="/home/manager"> Manager <mat-icon>person</mat-icon></mat-list-item>
  </div>

  </div>
  </mat-list>
