table {
    width: 100%;
  }

  badge{
    color: #555;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .example-container {
    width: 95%;
    height: 500px;
    margin: 10px;
    border: 1px solid #555;
  }
