<h1 mat-dialog-title >Reject Reason</h1>
<br>
  <form [formGroup]="rejectForm" >

    <div   mat-dialog-content>

    <mat-form-field class="dropdown" appearance="outline">
      <mat-label>Reject Reason</mat-label>
      <mat-select matInput formControlName="rejectReason" placeholder="Select a reason">
        <mat-option value="Currency is incorrect or missing">Currency is incorrect or missing</mat-option>
        <mat-option value="Category is incorrect or missing">Category is incorrect or missing</mat-option>
        <mat-option value="Duplicate Expenses or Trip">Duplicate Expense or Trip</mat-option>
        <mat-option value="Data is incorrect or missing">Data is incorrect or missing</mat-option>
        <mat-option value="Recept is incorrect or missing">Recept is incorrect or missing</mat-option>
        <mat-option value="Recept is incorrect or missing">No appropeiate Information</mat-option>

        <mat-option value="Other">Other</mat-option>

      </mat-select>
    </mat-form-field>
    <br>


    <mat-form-field  appearance="outline" class="textarea">
      <mat-label>Description</mat-label>
      <textarea style="height: 140px;" matInput placeholder="Reason for rejection" formControlName="rejectDescription"></textarea>
    </mat-form-field>


    </div>
  </form>

  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>CANCLE</button>
    <button mat-raised-button  color="primary" (click)="reject()" >REJECT</button>
  </div>
