<div class="container">
  <div class="text-center">
    <h1>Welcome to Manager Console</h1>
  </div>

  <div class="d-flex justify-content-between">

  <h3>Recently Added Expenses</h3>

  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder=" Expense Name" #input>
    </mat-form-field>

  </div>

  <div class="mat-elevation-z8">
    <table style="width: 100%;" mat-table [dataSource]="expenseDataSource" matSort>


      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>


      <ng-container matColumnDef="merchant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Merchant </th>
        <td mat-cell *matCellDef="let row"> {{row.merchant}} </td>
      </ng-container>


      <ng-container  matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell  *matCellDef="let row"> {{row.amount}} </td>
      </ng-container>


      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
        <td mat-cell *matCellDef="let row"> {{row.currency}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row ">
          <button mat-raised-button color="primary"  style="margin-right: 10px;" (click)="ApproveExpense(row)" >Approve </button>
          <button mat-raised-button color="warn" (click)="RejectExpense(row)" > Reject</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="expenseColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: expenseColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
<br>
<br>

<div class="d-flex justify-content-between" >

      <h3>Recently Added Trips</h3>

      <mat-form-field appearance="outline" >
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyTripsFilter($event)" placeholder=" Trip Name" #input1>
        </mat-form-field>
</div>



    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="tripDataSource" matSort style="width: 100%;">


        <ng-container matColumnDef="tripName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Trip Name </th>
          <td mat-cell *matCellDef="let row"> {{row.tripName}} </td>
        </ng-container>


        <ng-container matColumnDef="fromLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> From Location </th>
          <td mat-cell *matCellDef="let row"> {{row.fromLocation}} </td>
        </ng-container>


        <ng-container matColumnDef="fromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> From Date </th>
          <td mat-cell *matCellDef="let row"> {{row.fromDate | date}} </td>
        </ng-container>


        <ng-container matColumnDef="toLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> To Location </th>
          <td mat-cell *matCellDef="let row"> {{row.toLocation}} </td>
        </ng-container>

        <ng-container matColumnDef="toDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> To Date </th>
          <td mat-cell *matCellDef="let row"> {{row.toDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button  mat-raised-button color="primary" style="margin-right: 10px;" (click)="ApproveExpense(row)" >Approve </button>
            <button mat-raised-button  color="warn" (click)="RejectExpense(row.expenseId)"> Reject</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tripsColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: tripsColumn;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input1.value}}"</td>
        </tr>
      </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


</div>
